*{
    box-sizing: border-box;
}
.row{
    width: 100%;
}
p{  
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
h1{
    text-align: center;
}

#p1{
    border: 1px solid black;
    text-align: right;
    float: right;
    width:auto;
    margin:0;
    background-color: burlywood;
}
#p2{
    text-align:left;
    clear: right;
    margin:0;
}
.row div{
    float: left;
    border:solid black 1px;
    margin:6px;
    background-color:goldenrod;
}
@media(min-width:992px){
    .col-lg-4{
        width:calc(33.33% - 12px);
    }
}
@media (min-width:768px) and (max-width:991px){
    .col-md-6{
        width:calc(50% - 12px);
    }
    .col-md-12{
        width:calc(100% - 12px);
    }
}
@media (max-width:767px){
    .col-sm-12{
        width:calc(100% - 12px);
    }
}
