*{
box-sizing: border-box;
}
#head-nav{
    background-color: rgb(177, 177, 177);
    border: solid black;
}
#mp{
    width: 95%;
}
#navi{
    text-align: center;
}
#menu{
    text-align: center;
    height: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#chi{
    text-align: center;
}
#desc{
    background-color: rgb(177, 177, 177);
}
a{
    color: black;
}
hr {
    border: none;
    height: 1px;
    background-color: #333; /* Modern Browsers */
}